:root {
    --std_txt_color: #2e2a2c;
}

html, body {
    height: 100%;
}

body {
    background-color: #f5f3ef;
}

#map {
    height: 100%;
}

.row:first-child {
    margin-top: 4rem;
}

.row:last-child {
    margin-bottom: 4rem;
}

.title {
    text-decoration: none;
    color: var(--std_txt_color);
}

.navbar {
    border-left: 1px solid var(--std_txt_color);
    padding-left: 1rem;
    text-align: left;
}

.navbar-item {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .2rem;
    text-decoration: none;
    line-height: 3rem;
    color: var(--std_txt_color);
    width: 100%;
}

.navbar-item.inactive {
    color: #999999;
}

.navbar-item.inactive:hover {
    color: #ce0f38;
}

@media (min-width: 550px) {
    .title {
        text-align: right;
    }
}